*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding-bottom: 1.77rem;
  background-color: #002f3c;
  font-family: "Red Hat Display", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 1.33rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------------------*\
                 GLOBAL
\*--------------------------------------------------------------------------*/

:root {
  --color-back: #fff;
  --line-height-large: 1.625;
  --font-size-micro: 0.9375rem;
  --s1: 0.2rem;
  --s2: 1.5rem;
}

#root > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  padding: 20px;
}

.gap-top-600 {
  margin-top: 1.77rem;
}

.text-300 {
  font-size: 0.8rem;
}

.text-400 {
  font-size: 1rem;
}

.text-600 {
  color: hsl(0, 0%, 89%);
}

.text-700 {
  display: block;
  margin-top: 1.5rem;
  color: #ccf8ff;
  font-size: 1.5rem;
}

@media screen and (min-width: 48em) {
  .md\:text-300 {
    font-size: 0.8rem;
  }
  .md\:text-400 {
    font-size: 1rem;
  }
  .md\:text-600 {
    font-size: 3.77rem;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1.77rem);
}

:focus {
  outline: 1px dotted;
}

.radius,
.button {
  border-radius: 0.5rem;
}

.button {
  margin-left: auto;
}

.btn {
  position: relative;
  overflow: hidden;
  min-width: 10rem;
  max-width: 10rem;
  height: 1.75rem;
  padding: 0;
  margin: 0;
  border: 0 solid;
  border-radius: 0.25rem;
  border-width: 2px;
  background-color: #effeff;
  color: black;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: var(--line-height-large);
  letter-spacing: 0.02em;
  box-shadow: 0 4px 6px rgba(152, 226, 216, 0.7),
    0 5px 15px rgba(152, 226, 216, 0.1);
  cursor: pointer;
}

@media screen and (min-width: 62em) {
  .btn {
    margin-left: 0;
  }
}

.btn[aria-pressed="true"] .btn__txt {
  text-indent: -20%;
}

.btn[aria-pressed="true"] .btn__check {
  text-indent: 60%;
}

.btn.disabled,
.btn:disabled {
  background: #233742;
  opacity: 0.3;
  cursor: not-allowed;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: text-indent 0.1s ease-in-out;
}

.btn svg {
  height: 26px;
  width: 36px;
}

.btn__txt {
  text-indent: 0%;
}

.btn__check {
  text-indent: 200%;
}

.app > * + * {
  margin-top: 7em;
}

.app__header {
  text-align: center;
  padding: 3.77rem 0;
}

.app__header h1 {
  display: inline-flex;
  align-items: center;
  max-width: 10ch;
  color: #fdf767;
  font-family: Space Mono, monospace;
  font-size: 2.36rem;
  font-weight: 900;
  transform: rotate(-3deg);
}

@media (min-width: 37em) {
  .app__header h1 {
    font-size: 5.6rem;
    max-width: 18ch;
  }
}

.app__header svg {
  height: 10rem;
  transform: rotate(-3deg);
}

.app__header p {
  color: #fdf767;
  transform: rotate(-3deg);
}

/*--------------------------------------------------------------------------*\
                 Spinner
\*--------------------------------------------------------------------------*/

#spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.spinner {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #b4cddd;
  border-radius: 50%;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------------------*\
                 SearchBar
\*--------------------------------------------------------------------------*/

.app__search {
  padding: 20px;
}

.app__search__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#searchBar {
  width: 100%;
  padding: 0.85rem 1rem;
  border: 2px solid hsl(210, 23%, 55%);
  border-radius: 10px;
  color: hsl(0, 0%, 89%);
  cursor: pointer;
}

input {
  background-color: #002f3c;
}

input:focus {
  outline: 4px dotted rgba(253, 247, 103, 0.3);
  outline: 4px dotted rgba(180, 205, 221, 0.2);
  outline-offset: 4px;
  background-color: #002f3c;
}

input[type="text"],
textarea {
  background-color: #002f3c;
}

input::placeholder {
  color: rgba(253, 247, 103, 0.2);
}

.search__error {
  max-width: 65rem;
  text-align: center;
  padding: 0 1.33rem;
  margin-left: auto;
  margin-right: auto;
  color: hsl(0, 0%, 89%);
}

.search__error__title {
  font-size: 1.33rem;
  font-weight: normal;
}

.main-content__body {
  --auto-grid-gap: 3.15rem 1.33rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 48%), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 1.33rem);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid hsl(210, 23%, 45%);
  box-shadow: 0 4px 6px rgb(152 226 216 / 70%),
    0 5px 15px rgb(152 226 216 / 10%);
  line-height: 1.1;
  font-weight: 900;
}

/*--------------------------------------------------------------------------*\
                 Movie List
\*--------------------------------------------------------------------------*/

.movie-list-group {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.movie-list-group,
.playlist-group {
  max-width: 65rem;
}

#movie-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#movie-list > * {
  margin-top: 0;
  margin-bottom: 0;
}

#movie-list > * + * {
  margin-top: var(--s2);
}

#movie-list,
#playlist__container {
  padding: 0;
}

.movie-list__title {
  padding: 0.5rem 1.2rem;
  color: hsl(188, 100%, 90%);
  text-transform: capitalize;
  font-size: 1.6rem;
}

.movie-list__title,
.playlist__title {
  font-family: code-saver, monospace;
}

.movie-item {
  overflow: hidden;
}

.movie-item > * {
  --s1: 0.02rem;
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.movie-item > * > * {
  --s1: 0.02rem;
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.movie-item > * > :first-child {
  --s1: 0.02rem;
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(60% - var(--s1));
}

.movie-item__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-item__body__inner {
  display: inline-flex;
  align-items: baseline;
  padding: 0.5rem 0.5rem;
}

.movie-item__title {
  color: hsl(0, 0%, 89%);
}

.movie-item__title:hover {
  color: hsl(188, 100%, 85%);
}

#star {
  flex-shrink: 0;
  height: 0.75em;
  width: 0.75em;
  margin-inline-end: 0.75rem;
  fill: currentColor;
  color: rgba(0, 255, 255, 1);
  font-size: 1.4em;
}

/*--------------------------------------------------------------------------*
                 Playlist
\*--------------------------------------------------------------------------*/

#playlist__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#playlist__container > * {
  margin-top: 0;
  margin-bottom: 0;
}

#playlist__container > * + * {
  margin-top: var(--s2);
}

.playlist__title {
  overflow-wrap: break-word;
  hyphens: auto;
  padding: 0.5rem 1.2rem;
  color: hsl(188, 100%, 90%);
  font-size: 1.6rem;
}

.playlist__item {
  overflow: hidden;
}

.playlist__item > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.playlist__item > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.playlist__item > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(60% - var(--s1));
}

.playlist__item__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-item__body__inner {
  display: inline-flex;
  align-items: baseline;
  padding: 0.5rem 0.5rem;
}

.playlist__item__text {
  color: rgba(255, 255, 255);
}

.movie-item__title,
.playlist__item__text {
  padding: 0.5rem 1.2rem;
  color: hsl(0, 0%, 89%);
  font-family: "Red Hat Display", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.movie-list__title,
.playlist__title {
  padding: 0 0 0 3.7rem;
  color: hsl(0, 0%, 89%);
  font-family: "Red Hat Display", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

/*--------------------------------------------------------------------------*\
                Dialog
\*--------------------------------------------------------------------------*/

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-width: calc(100% - 2rem);
  width: 20vw;
  height: 50vh;
  padding: 1em;
  margin: auto;
  border-radius: 10px;
  border: 1px solid hsl(210, 23%, 55%);
  box-shadow: 0 4px 6px rgb(152 226 216 / 70%),
    0 5px 15px rgb(152 226 216 / 10%);
  text-align: center;
  background-color: #002f3c;
}

@media (min-width: 48em) {
  #dialog {
    min-width: calc(50% - 2rem);
  }
}

.dialog__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog__inner svg {
  height: 5.75em;
  width: 5.75em;
}

#dialog-content {
  max-width: 18ch;
  line-height: 1.5;
  color: hsl(0, 0%, 89%);
}

@media (min-width: 48em) {
  #dialog-content {
    font-size: 1.5rem;
  }
}

#dialog-content__close-button {
  min-width: 7.5rem;
  max-width: 7.5rem;
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 999px;
  box-shadow: none;
  background: #1c2334;
  font-size: var(--font-size-micro);
  line-height: var(--line-height-large);
  letter-spacing: 0.02em;
  cursor: pointer;
}

/*--------------------------------------------------------------------------*
            SINGLE MOVIE VIEW
\*--------------------------------------------------------------------------*/

.wrapper__inner {
  border-radius: 10px;
  border: 1px solid hsl(210, 23%, 55%);
  box-shadow: 0 4px 6px rgb(152 226 216 / 70%),
    0 5px 15px rgb(152 226 216 / 10%);
}

.splitter > :last-child {
  margin-top: 1.33rem;
}

@media (min-width: 48em) {
  .splitter {
    display: flex;
  }
  .splitter > * {
    flex-grow: 1;
  }
  .splitter > :last-child {
    margin-top: 0;
    min-width: 59%;
    max-width: 59%;
  }
}

/*--------------------------------------------------------------------------*
           MOVIE IMAGE 
\*--------------------------------------------------------------------------*/

.movie-image-group {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.movie-image-group,
.movie-summary-group {
  padding: 20px;
  border-radius: 10px;
}

.movie-image-container {
  display: block;
  position: relative;
}

.movie-image:before {
  --color-paleblue: hsl(188, 100%, 85%);
  background: var(--color-paleblue);
  mix-blend-mode: multiply;
}

.movie-image:after,
.movie-image:before {
  --duotone-opacity: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: var(--duotone-opacity);
}

.frame::before {
  position: absolute;
  z-index: 1;
  top: -0.25rem;
  left: -0.25rem;
  content: "";
  width: 100%;
  height: 100%;
  border: 0.125rem solid #38445b;
  border-radius: 0.25rem;
  pointer-events: none;
}

@media (min-width: 37em) {
  .frame::before {
    top: -0.5rem;
    left: -0.5rem;
    border-width: 0.25rem;
  }
}

.frame[data-frame="primary"]::before {
  top: -0.5rem;
  left: -0.5rem;
  border-width: 0.25rem;
  border-color: #233742;
}

.movie-image img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.movie-details {
  position: absolute;
  bottom: 0.5rem;
  left: -0.25rem;
  width: calc(100% - 0.5rem);
  padding: 0.8rem;
  background: #f1f5f7;
  line-height: 1.3;
}

.movie__title {
  display: block;
  font-weight: 900;
  font-size: 1.77rem;
}

.plot {
  display: block;
  margin-top: 1.5rem;
  color: hsl(0, 0%, 89%);
  font-size: 1.33rem;
  font-weight: normal;
  line-height: 1.5;
}

/*--------------------------------------------------------------------------*
           MOVIE SUMMARY 
\*--------------------------------------------------------------------------*/

.movie-summary__title {
  font-family: "Red Hat Display", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e3e3e3;
}

.movie-summary__key-facts__list {
  --auto-grid-gap: 2rem 0.2rem;
  display: grid;
  grid-gap: var(--auto-grid-gap, 0.2rem);
}

.movie-summary__button-container {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
}

.movie-summary__button-container > * + * {
  margin-top: var(--space);
}

.button {
  margin-left: auto;
}
